@import '../style';

footer.footer-wrapper {
  padding: 60px 15px 60px 15px;
  font-size: 18px;
  color: $yellowlight;
  background-color: $orange;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  align-items: baseline;
  vertical-align: none;
  justify-content: space-around;
  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .logo {
    width: 200px;
  }

  .separator{
    margin: 0 10px;
    @media (max-width: 545px) {
      display: none;
    }
  }

  ul {
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0;
    display: flex;
    align-items: center;
    @media (max-width: 545px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  p {
    color: $yellowlight;
    font-size: 0.8rem;
    margin: 0;
  }

  a {
    color: $yellowlight;
    text-decoration: none;
    font-weight: 900;
    font-size: 0.9rem;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $blue;
      transition: color 0.3s ease-in-out;
    }
  }

  h4 {
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 20px;
    color: $yellowlight;
    @media (max-width: 767px) {
      margin: 40px 0 20px 0;
    }
  }
  
}